   /*   Code copyright C Davies 03/11/2010 www.chris-davies.com  */

body {
    background-image: url('../images/stripe.gif');
         font-family: arial,sans-serif;
           font-size: 12px;
}

table {     position: relative;
              border: 1px none black;
               width: 690px;
              margin: auto;
          background: #b6fbe5;
                left: -7px;
}

th  {
              border: 1px none black;
             padding: 10px;

}

td  {
              border: 1px none black;
             padding: 10px;
               width: 150px;
}

.color1 {background: #48b97f;
}

.color2 {background: #b8c8b2;
}

.color3 {background: #b6e3cc;
       padding-left: 25px;
}

select {      width: 145px;
}

input  {      width: 120px;
}

.span6 {   position: relative;
             margin: auto;
             border: 1px none blue;
              width: 940px;
               left: 19px;
       padding-left: 0;
}

#container {
         background: #fff;
             border: 1px none #000;
              width: 70%;
             margin: auto;

}